@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Oswald:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Open+Sans+Condensed:wght@700&family=Oswald:wght@700&display=swap');
 html,body
 {
     height: 100%;
 }
body
{
    
background-color: #eeeeee;
display: flex ;
justify-content: center;
align-items: center;
height: 100%;
text-align: center;
}




.padre-stormtrooper
{
    display: flex;
    align-items: center;
    background-color:#810000;
    height: auto;
    border-radius: 80px;
    width: 1200px;



}


.producto
{

    background-color: #810000;



}

.contenedor-der
{
   
    background-color: black;
    color: white;
    text-align: left;
    padding: 50px;
    border-radius: 0 80px 80px 0;
}


.producto {

    display: block;
    width: 500px;
    margin : 0px 40px
}


h1
{
 font-family: 'Oswald', sans-serif;
 font-size: 35px;
}

.varios
{
    font-size:10px;
    border-radius: 10px;
    border: 2px solid #810000;
    padding: 5px;
}
h3{
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
}

.descripcion-producto
{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 15px;
}

.precio
{
    font-family: 'Nunito', sans-serif;
    font-size: 10px;
}
.precio-número
{
    font-size: 35px;
}
.comprar
{
    color : #FAFAFA;
    
    
}
.boton
{
    background-color: #810000;
    text-decoration: none;
    color : #FAFAFA;
    border-radius: 50px;
    background-color: #810000;
    padding: 25px;
}



@media (max-width :1000px){ 

html, body {

    height: auto;
}

.padre-stormtrooper
{
    flex-direction: column;
    width: 500px;
}

.contenedor-der
{
width: 500px;
border-radius: 0px 0px 80px 80px;
}

.producto
{
    width: 245px;
    margin: 30px ;
}

.descripcion
{
    text-align: center;
}


h1 {
    text-align: center;
    font-size: 38px;
}
 
.boton
{margin-left: 130px;}



}